@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300;500&display=swap');

* {
   font-family: 'Signika Negative';
   font-size: 20px;
   margin: 0;
}

body {
   margin: 50px auto;
}

header {
   text-align: center;
}

header h1 {
   font-family: 'Bebas Neue';
   font-size: 4rem;
   letter-spacing: 5px;
}

main {
   margin-top: 20px;
   display: flex;
   justify-content: center;
}

main form {
   display: flex;
   flex-direction: column;
}

main form .form-group {
   margin-top: 20px;
}

main form input {
   width: 500px;
   padding: 10px 10px;
   border-radius: 5px;
   border: 1px solid gray;
   box-shadow: 1px 1px 2px black;
   font-weight: lighter;
}

main form button {
   width: 30%;
   align-self: flex-end;
   margin-top: 20px;
   padding: 10px 15px;
   border-radius: 8px;
   border: none;
   background-color: #00B4D8;
   color: white;
   box-shadow: 2px 2px 1px gray;
}

main form button:hover {
   background-color: #90E0EF;
}
