@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300;500&display=swap');

* {
   font-family: 'Signika Negative';
   font-size: 20px;
   margin: 0 auto;
}

body {
   background-color: #0077b6;
}

.hero {
   text-align: center;
   background-color: #00509D;
   padding: 15px 0;
}

.hero h1 {
   font-family: 'Bebas Neue';
   font-size: 2.5rem;
   letter-spacing: 5px;
   color: #FFFFFF;
}

.hero p {
   color: #FFFFFF;
}

main {
   margin-top: 75px;
   background-color: #edf2fb;
   width: 40%;
   border-radius: 15px;
   height: 500px;
}

main form {
   display: flex;
   flex-direction: column;
}

main form .form-group {
   margin-top: 20px;
}

main form input {
   width: 500px;
   padding: 10px 10px;
   border-radius: 5px;
   border: 1px solid #c1d3fe;
   font-weight: lighter;
}

main form button {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px 15px;
   border-radius: 8px;
   border: none;
   background-color: #00509D;
   color: white;
   box-shadow: 2px 2px 1px gray;
}

main form button:hover {
   background-color: #90e0ef; 
}

main .jawaban {
   margin-top: 20px;
   width: 40%;
   height: 50px;
   text-align: center;
   padding: 10px 30px;
   background-color: #e2eafc;
   border-radius: 8px;
   box-shadow: 2px 3px 1px gray;
}

main #result-bmi {
   font-weight: bolder;
}
